<ionic-view>
  <ion-content style="background-color:#9740DA; padding:15%">
    <div style="text-align:center; margin-top:5%;padding:10px; background-color:white; opacity:.8; width:90%:">
      <img style="width:15%;padding-top:5px; "src="../img/meterd_logo.png">
      <p style=" text-align:center;" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        <br><br>Ab dolorum veniam architecto ipsam possimus iusto deleniti provident libero. Fugit, repudiandae ipsam rerum quasi iusto quod veritatis voluptate repellat velit cum.</p>
    </div>
    <ion-spinner></ion-spinner>
    <br><br>
    <button ng-click="reloadRoute(); $scope.go(app/search)"class="button button-bar button-dark" style="border:none; display:block; margin:0 auto;">I AM READY</button>

  </ion-content>
</ionic-view>
